body{
    background-color: rgb(241, 241, 53);
    text-align: center;
}
ol{
    list-style-position: inside;
}
a{
    font-size: 20px;
}
div{
    width: 100px;
    height: 100px;
    background-color: rgb(79, 79, 123);
    margin: 25px;
    display: inline-block;
    position: relative;
}

.one{
    animation: saran;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    transform:skewx(0deg)
}
@keyframes saran {
    from{
        transform: skewx(20deg);
       
    }
    to{
       transform: skewx(-20deg);
        
    }
    
}
.two{
    animation: two;
    background-color: gray;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
}
@keyframes two {
    from{
    
        transform: skewX(20deg);
       
    }
    to{
       transform: skewY(-20deg);
        
    }
    
}






















.third{
    animation: saravanan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out
}
@keyframes saravanan {
    from{
        left: 0px;
       
    }
    to{
       left:0px;
         transform: rotatez(90deg);
    }
    
}

.fouth{
   background-color: rgb(83, 83, 151);
   animation: four;
   border: 2px solid rgb(79, 79, 123);
   animation-duration: 2s;
   animation-iteration-count: infinite;
   

}
@keyframes four {
    from{
        left: 0px;
       
    }
    to{
    
         transform: rotatex(45deg);
    }
    
}
.fifth{
    background-color: maroon;
    border: 2px solid rgb(201, 31, 31);
    animation: fifth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes fifth {
    from{
        left: 0px;
       
    }
    to{
    
         transform: rotatey(45deg);
    }
    
}
.sixth{
    background-color: green;
    border: 2px solid rgb(6, 248, 6);
    animation: saravanan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
