h1{
    text-align: center;
}
.c1{
    background-color: orange;
}
.c2{
    background-color: white;
}
.c3{
    background-color: green;
}
div{
    width: auto;
    height: 700px;
    margin: 10px;
    position: relative;
    /* box-sizing: content-box; */
    
    border-left: 5px solid orange;
    border-right: 5px solid green;
    border-radius: 5px;
}
.city{
    position: absolute;
    top: 200px;
    z-index: +1;
}
.sky{
   /* bottom: 200px; */
   
    /* height: 200px; */
    position: absolute;
   top: 0px;
    z-index: -100;

}
.road{
    position: absolute;
    z-index: -99;
    top: 450px;
}
.car{
    position: absolute;
    width: 500px;
    top: 340px;
    left: 310px;
    z-index: +2;
    transform: translateY(80deg);
    
}
.wheel{
    position: absolute;
    top: 450px;
    left: 350px;
    width: 100px;

}
.one{
    position: absolute;
    left: 650px;
}
/* .city,.road,.wheel{
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moving {
    from{
      
    }
    to{
        transform: scaleZ(20deg);
    }
    
} */
.wheel{
    animation: saravanan;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}
@keyframes saravanan {
    from{
        left: 350px;
       
    }
    to{
       
         transform: rotatez(90deg);
    }
    
}
.one{
    animation: saravana;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}
@keyframes saravana {
    from{
        left: 650px;
       
    }
    to{
       
         transform: rotatez(90deg);
    }
    
}
.road,.city{
    animation: saran;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}
@keyframes saran {
    from{
        left: 0px;
       
    }
    to{
       left: -100px;
       
    }
    
}
.sun{
    position: absolute;
    width: 100px;
    top: 100px;
    left: 1100px;

}
.sun{
animation: sara;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function:linear
}
@keyframes sara {
from{
    left:1100px
   
}
to{
   left: 1150px;
   transform: translateX(100px);
   
}

}
.flag{
    position: absolute;
    width: 100px;
    left: 650px;
    top: 300px;
    tr

}